.floated {
    float:left;
    margin-right:0px;
 }
.floated2{
    float:left;
    display: inline;
}

.floated3{
    float:left;
    display: inline;
    font-size: larger;
}

.rotate{
    transform: rotate(-90deg);
} 